.inputContainer {
  position: relative;
  height: 55px;
  width: 90%;
  margin-bottom: 17px;
}

.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #dadce0;
  font-size: 18px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}
